
.container {
    text-align:left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:100%;
    column-gap: 20px;
    row-gap: 40px;
    border:20px;
    align-items: center;
    border:20px;
  }

  .container div{
      left:20%;
      height:100%;
      padding:10px;
      background:rgb(128, 209, 209, 0.7);
      border-radius:10px;

      padding-bottom: 10px;;

  }
  .container div:hover{
      background-color: rgb(128, 209, 209);
      cursor:pointer
  }
  .container div img{
   margin-top:10px;
   width:100%;
   
  }