body{
  background: url(https://images.unsplash.com/photo-1592838981793-f3ebf267056d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  
  
}
.main, .main h1{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.main h1{
border-radius:20px;
height:40px;
padding:20px;
background-color: wheat;
}

